body{
    font-family:"Microsoft YaHei","微软雅黑",Arial,"Lucida Grande",Verdana,sans-serif;
}
.dropdown-menu li a{
    line-height: 40px;
}
.nav_touxiang li a{
    height: 80px;
    line-height: 50px;
}
.nav_touxiang img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.lieBiaoMingCheng{
    font-size: 22px;
    line-height: 40px;
    margin-right: 20px;
}
.thumbnail{

}
.thumbnail:hover{
    box-shadow: 0px 0px 10px black;
}
#jiGou{
    margin-top: 25px;
}
#jiGou ul.nav{
    margin-bottom: 15px;
}
#pinJia .glyphicon{
    color:gold;
    font-size: 18px;
    vertical-align: bottom;
}

#footer{
    height: 150px;
    width: 100%;
    /*background-color: #EEEEEE;*/
    background-color: #555555;
}
