body{
    font-family:"Microsoft YaHei","微软雅黑",Arial,"Lucida Grande",Verdana,sans-serif;
}
ul,li{
    text-decoration: none;
    list-style: none;
}
.dropdown-menu li{
    height: 40px;
}
.dropdown-menu li a{
    line-height: 40px;
}
.nav_touxiang li a{
    height: 80px;
    line-height: 50px;
}
.nav_touxiang img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.header{
    height: 100px;
    background-color: #ffffff;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 5px #EEE;
}
.main{
    /*box-shadow: 00px 0px 10px 5px #EEE;*/
    padding: 20px;
    margin-bottom: 30px;
}
.tuPian{
    /*background-color: #CCFFCC;*/
    background-color: #ffffff;
    background: url("../img/login-big2.jpg") no-repeat center center;
    height: 392px;
    border-radius: 5px;
}
.nav-tabs{
    width: 100%;
}
.tab_2 a{
    margin-right: 0px!important;
}
.nav-tabs li{
    width: 50%;
}
form{
    background-color: #ffffff;
    padding: 20px;
    border-left:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    height: 350px;
}
#loginForm input{
    height: 45px;
}
.yanZhengMa{
    height: 45px;
    border-top:1px solid #DDDDDD;
    cursor: pointer;
}
.yanZhengMa img{
    height: 100%;
}
.change{
    height: 45px;
}
.submit{
    padding-left: 0px;
    padding-right: 0px;
}
.submit button{
    width: 100%;
    margin-top: 20px;
    height: 40px;
}
.error{
    color: #ac2925;
    margin-top: 15px;
}
#registerForm{
    display: none;
}
#registerForm input{
    height: 45px;
}

.dengLuZhuCe{
    background-color: #7DC9ED;
    min-height: 150px;
    color: #ffffff;
    padding-bottom: 20px;
}
.dengLuZhuCe h1{
    font-size: 30px;
    text-shadow: 0px 2px 2px black;
}
.dengLuZhuCe a{
    padding: 4px 20px 4px 20px;
    font-size: 14px;
    margin-top: 15px;
    margin-right: 20px;
}
#footer{
    min-height: 260px;
    width: 100%;
    background-color: #F5F5F5;
    padding-bottom: 15px;
}
#footer .diBuNav h1{
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
}
#footer .diBuNav .lianXi{
    padding: 0px;
}
#footer .diBuNav .lianXi span{
    display: block;
    height: 40px;
    padding-left: 50px;
    line-height: 40px;
    font-size: 15px;
}
#footer .diBuNav .tel{
    background: url("../img/tel.gif") no-repeat 0px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer .diBuNav .diZhi{
    background: url("../img/diZhi.gif") no-repeat 0px 0px;
}
#footer .diBuNav .navContent{
    margin-top: 30px;
}
#footer .diBuNav .navContent span{
    font-size: 15px;
    font-weight: 900;
    line-height: 30px;
}
#footer .diBuNav .navContent a{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    line-height: 30px;
    text-shadow: 0px 2px 2px lightgrey;
}
@media screen and (min-width: 970px){
    .navigator{
        min-height: 80px;
        background-color: #FFFFFF;
    }
    .navigator .logo{
        padding: 0px;
        height: 80px;
    }
    .navigator .logo img{
        width: 120px;
        height: 80px;
    }
    .navigator a{
        line-height: 80px;
        font-weight: 900;
    }
    .navigator .nav-content{
        height: 80px;
        margin-left: 20px;
    }
    .navigator .nav-content li{
        height: 80px;
    }
    .navigator .nav-content li a{
        margin-top: 15px;
    }
    .navigator .nav-content li a:hover{
        color: red;
    }
    .dropdown-menu li{
        height: 40px!important;
    }
}
@media screen and (max-width: 969px){
    .navigator .logo{
        padding: 0px;
    }
    .navigator .logo img{
        height: 50px;
    }
}
@media screen and (max-width: 750px){
    #loginAndReg{
        padding-left: 0px;
        padding-right: 0px;
    }
    #main{
        padding-left: 0px;
        padding-right: 0px;
    }
}